@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    justify-items: center;
    font-family: "Delius Unicase", cursive;
}

nav{
    display: flex;
    width: 100%;
    height: 70px;
    padding-left: 3%;
    box-shadow: 0 0 5px rgba(23, 25, 26, 0.6);
}

h2{
    margin: 1% 0 0 2%;
}

.main{
    font-family: "Sour Gummy", sans-serif;
    margin: 3% 0;
    padding: 1%;
    width: 70%;
    height: 400px;
    justify-items: center;
    border-radius: 10px;
    border: 1px solid rgb(222, 235, 241);
    background-color: beige;
    box-shadow: 0 0 20px rgba(23, 25, 26, 0.6);
}

.main input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Sour Gummy", sans-serif;
    height: 40px;
    width: 120px;
}

.feeling{
    text-align: center;
}

.feeling select{
    font-family: "Sour Gummy", sans-serif;
    font-size: 1.2em;
    width: 70%;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius:5px ;
    border: 1px solid black;
}

button{
    margin-top: 30px;
    font-family: "Sour Gummy", sans-serif;
    font-size: 18px;
    color: white;
    background-color: rgb(51, 51, 134);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.2);
}

.answer{
    text-align: center;
    margin: 5%;
}

footer {
    text-shadow:0 0 20px rgba(23, 25, 26, 0.6);
}